
$page-padding: 2rem;

    a {
        color: white !important;
        text-transform: uppercase;
        text-decoration: none;
        }
        
        ul, li { padding: 0;}


nav {
    justify-content: center;
    align-items: center;
    .nav-logo {
        width: 10rem;
    }
    background: black;
    color: white;
    display: flex;
    
    ul {
        display: flex;
        list-style-type: none;
    }
    li {
        color: white;
        padding: .5rem;
        text-transform: capitalize;
        
    }

}

.cta-section {
    display: flex;
    justify-content: center;
    background: black;
    color: white;
    padding: $page-padding;
    
    a:hover {
        color: black !important;
    }

    a:nth-of-type(1) {
        margin-right: 1rem;
    }    

    &-content {
        display: block;
        text-align: center;
    }
}

footer {
    .footer-content {
        max-width: 1200px;
        display: flex;
        align-items: center;
    }
    background: black;
    color: white;
    display: flex;
    
    ul {
        display: flex;
        list-style-type: none;
        li {
            padding: 1rem;
            display: flex;
            align-items: center;
        }
    }
}